body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dfe7ef;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #eef3f7;
  width: 410px;
  min-height: 480px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 15px;
  padding: 30px;
}

.player-top {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 4;
}

.player-image {
    width: 300px;
    height: 300px;
    margin-left: -70px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
}

.player-image #music-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
}

.player-image #music-image:before {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  display: block;
  z-index: 1;
  position: absolute;
  top: 30px;
  transform: scale(0.9);
  filter: blur(10px);
  opacity: 0.9;
  border-radius: 15px;
}

.player-image #music-image:after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  display: block;
  z-index: 2;
  position: absolute;
  border-radius: 15px;
}

.player-controls {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-controls button {
  display: inline-flex;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 10px;
  color: #acb8cc;
  cursor: pointer;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  border: none;
  background-color: transparent;
}

.player-controls button:not(#play)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  z-index: -1;
  transform: scale(0.5);
  opacity: 0;
  box-shadow: 0px 5px 10px 0px rgba(76, 70, 124, 0.2);
  transition: all 0.3s ease-in-out;
  transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
}
.player-controls button:not(#play):hover {
  color: #532ab9;
}

.player-controls button:not(#play):hover::before {
  opacity: 1;
  transform: scale(1.3);
}

.player-controls #play {
  margin-bottom: 0;
  font-size: 95px;
  filter: drop-shadow(0 11px 6px rgba(172, 184, 204, 0.45));
  color: #fff;
  width: auto;
  height: auto;
  display: inline-flex;
}

.progres {
  width: 100%;
  margin-top: -15px;
  user-select: none;
}

.progres-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.titleDiv {
  color: #71829e;
  flex: 1;
  padding-right: 60px;
  user-select: none;
}

.creator {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1.3em;
}

.title {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.7;
  line-height: 1.3em;
  min-height: 35px;
}

.timeDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.timeDiv span {
  color: #71829e;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.5;
}

#progress-bar {
  height: 6px;
  width: 100%;
  cursor: pointer;
  background-color: #d0d8e6;
  display: inline-block;
  border-radius: 10px;
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Varsayılan stili kaldır */
  appearance: none;
  background: black; /* Düğme rengi */
  cursor: pointer; /* Fare işaretçisi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Hafif gölge */
}

#music-list {
  background: #eef3f7;
  width: 250px;
  min-height: 480px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 15px;
  padding: 30px;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.volume-container input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Varsayılan stili kaldır */
    appearance: none;
    background: black; /* Düğme rengi */
    cursor: pointer; /* Fare işaretçisi */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  }

li.playing {
  background-color: #0b5eb7;
  color: #fff;
}
